<html>
    <head>
        <title>Book Recommender</title>
    </head>
    <body>

        <div class='rating_form'>
            <h2>Add a rating</h2>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.book_id.label }}<br>
                    {{ form.book_id(size=32) }}
                </p>
                <p>
                    {{ form.rating.label }}<br>
                    {{ form.rating(size=1) }}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>

        <div class='user_profile'>
            <h2>User Profile</h2>
            <ul>
            {% for rating in user_ratings %}
                <li>
                    <p>Book: {{ rating.book_id }}</p>
                    <p>Rating: {{ rating.rating }}</p>
                </li>
            {% endfor %}
            </ul>
        </div>

        {% if titles %}
            <div class='recommendations'>
                <h2>You may also like...</h2>
                {% for title in titles %}
                <div><p>{{ title }}</p></div>
                {% endfor %}
            </div>
        {% endif %}

    </body>
</html>