<html>
    <head>
        <title>Book Recommender</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='main.css') }}">
    </head>
    <body>
        
        <!-- Navbar-->
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1">Book Recommender</span>
        </nav>

        <div class='rating_form container'>
            <div class='row'>
                <div class='form col-md'>
                    <h2>Add a rating</h2>
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <p>
                            {{ form.book_title.label }}<br>
                            {{ form.book_title(size=32) }}
                        </p>
                        <p>
                            {{ form.rating.label }}<br>
                            {{ form.rating(size=1) }}
                        </p>
                        <p>{{ form.submit() }}</p>
                    </form>
                </div>

                <div class='information col-md'>
                    <p>Enter a book title such as:</p>
                    <ul>
                        <li>Little Women</li>
                        <li>The Hunger Games</li>
                        <li>The Help</li>
                    </ul>
                    <p>The dataset is <a href='https://github.com/zygmuntz/goodbooks-10k'>goodbooks-10k</a>, which provides 6 million ratings for ten thousand books.</p>
                </div>
            </div>
            {% if message %}
            <div class='message'>
                <h4>{{ message }}</h4>
            </div>
            {% endif %}
        </div>


        
        <div class='user_profile container'>
            <h2>User Profile</h2>
            <button type="button" class="btn btn-danger reset_profile_button">reset</button>
            {% if user_ratings %}
                <ul class="profile_items list-group list-group-horizontal">
                {% for rating in user_ratings %}
                    <li class="list-group-item" id="profile_item_{{ loop.index }}">
                        <p>Book: {{ rating.title }}</p>
                        <p>Rating: {{ rating.rating }}</p>
                        <a href="#" class="badge badge-danger remove_rating_button">Remove</a>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No user profile information found - add some ratings!</p>
            {% endif %}
        </div>
        

        {% if titles %}
            <div class='recommendations container'>
                <h2>You may also like...</h2>
                <ul class='list-group'>
                {% for title in titles %}
                    <li class='list-group-item'>{{title}}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="{{ url_for('static',filename='reset.js') }}"></script>
    </body>
</html>