<html>
    <head>
        <title>Book Recommender</title>
    </head>
    <body>
        <h1>Add a rating</h1>
        <form action="{{ url_for('recommendations') }}" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.book_id.label }}<br>
                {{ form.book_id(size=32) }}
            </p>
            <p>
                {{ form.rating.label }}<br>
                {{ form.rating(size=1) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </body>
</html>